<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlaneTicketMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlaneTicketMVC.styles.css" asp-append-version="true" />

    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet">

</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="index.html">@_localization.GetKey("FlightTicket")</a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="active" style="text-decoration:none" asp-area="" asp-controller="Home" asp-action="Index">@_localization.GetKey("Home")</a></li>
                    <li><a class="active" style="text-decoration:none" asp-area="" asp-controller="Ticket" asp-action="Index">@_localization.GetKey("Tickets")</a></li>
                    <li class="dropdown">
                        <a>
                            <i class="fa fa-language" style="font-size:15px; color: #000;"></i>
                            <span>
                                @if (ViewBag.SelectedLanguage == "en-US")
                                {
                                    @_localization.GetKey("English").Value
                                }
                                else
                                {
                                    @_localization.GetKey("Turkish").Value
                                }
                            </span>
                        </a>
                        <ul>
                            <li>
                                <a class="dropdown-item" asp-controller="Shared" asp-action="ChangeLanguage" asp-route-culture="en-US">
                                    @_localization.GetKey("English").Value
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Shared" asp-action="ChangeLanguage" asp-route-culture="tr-TR">
                                    @_localization.GetKey("Turkish").Value
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li><a class="getstarted" asp-controller="Account" asp-action="LogOut">@_localization.GetKey("LogOut")</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

        </div>
    </header>
    
    <section id="hero">
        <div class="hero-container" data-aos="fade-up">
            <h1>@_localization.GetKey("Welcome")</h1>
            <h2>@_localization.GetKey("PleaseSelectYourTicketBelow")</h2>
        </div>
    </section>

    <main id="main">
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>@_localization.GetKey("FlightTicket")</h3>
                        <p>@_localization.GetKey("FooterDescription")</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>@_localization.GetKey("UsefulLinks")</h4>
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">@_localization.GetKey("Home")</a></li>
                            <li><a asp-controller="Ticket" asp-action="Index">@_localization.GetKey("Tickets")</a></li>
                            <li><a asp-controller="Account" asp-action="LogOut">@_localization.GetKey("LogOut")</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>@_localization.GetKey("ContactUs")</h4>
                        <p>
                            @_localization.GetKey("EsentepeCampus")<br>
                            Sakarya, Serdivan<br>
                            @_localization.GetKey("Turkey")<br>
                            <strong>@_localization.GetKey("Phone"): </strong> +90 534 717 0568<br>
                            <strong>@_localization.GetKey("Email"): </strong> eren.delibas@sakarya.edu.tr<br>
                        </p>

                        <div class="social-links">
                            <a href="https://github.com/eren5854/FlightReservationProject" class="github"><i class="bi bi-github"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>@_localization.GetKey("FlightTicket")</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                @_localization.GetKey("DesignedBy") <a href="#">İhsan Eren Delibaş</a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="https://kit.fontawesome.com/5ff4fe19e2.js" crossorigin="anonymous"></script>

    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <script src="~/js/main.js"></script>
</body>
</html>
