@model IEnumerable<Route>
@{
    int index = 0;
    
    ViewData["Title"] = "Home Page";
    foreach(var item in Model)
    {
        
    }
}
<section id="about" class="about" style="margin-top:-500px;">
    <div class="container" style="border-radius:20px;">
        <div class="row" style="height:500px;">
            <div class="prefence-area mt-5">
                <form asp-controller="Home" asp-action="Index" method="post" autocomplete="off">
                    <div class="d-flex" style="gap:20px">
                        <div class="form-group w-100">
                            <label>@_localization.GetKey("Departure").Value</label>
                            <select class="form-control" name="departure" value="" required>
                                <option>@TempData["Departure"]</option>
                                <option value="Antalya">Antalya</option>
                                <option value="Ankara">Ankara</option>
                                <option value="İstanbul">İstanbul</option>
                                <option value="Sivas">Sivas</option>
                            </select>
                        </div>

                        <div class="form-group w-100">
                            <label>@_localization.GetKey("Arrival").Value</label>
                            <select class="form-control" name="arrival" required>
                                <option>@TempData["Arrival"]</option>
                                <option>Antalya</option>
                                <option>Ankara</option>
                                <option>İstanbul</option>
                                <option>Sivas</option>
                            </select>
                        </div>

                        <div class="form-group w-100">
                            <label>@_localization.GetKey("Date").Value</label>
                            <input class="form-control" type="date" name="date" value="" required/>
                        </div>

                        <div class="form-group w-100">
                            <label>@_localization.GetKey("Operations").Value</label>
                            <button type="submit" class="btn btn-dark w-100">
                                @_localization.GetKey("Search").Value
                            </button>
                        </div>
                    </div>
                </form>
                <p>@TempData["DateError"]</p>
                @* <hr /> *@
                <table class="table table-bordered table-hover mt-4">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@_localization.GetKey("Departure").Value</th>
                            <th>@_localization.GetKey("Arrival").Value</th>
                            <th>@_localization.GetKey("DepartureTime").Value</th>
                            <th>@_localization.GetKey("ArrivalTime").Value</th>
                            <th>@_localization.GetKey("PlaneName").Value</th>
                            <th>@_localization.GetKey("PlaneTailNumber").Value</th>
                            <th>@_localization.GetKey("SeatNumber").Value</th>
                            <th>@_localization.GetKey("Operations").Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            index++;
                            <form asp-controller="Home" asp-action="AddTicket" method="post">
                            <tr>
                                <td>@index</td>
                                <td>@item.Departure</td>
                                <td>@item.Arrival</td>
                                <td>@item.DepartureTime</td>
                                <td>@item.ArrivalTime</td>
                                <td>@item.Plane!.Name</td>
                                <td>@item.Plane.TailNumber</td>
                                <td>
                                    <input hidden="hidden" name="routeId" value="@item.Id" />
                                    <select class="form-control" name="seatNumber">
                                            @for (int i = 1; i <= item.Plane.TotalSeats; i++)
                                            {
                                            <option>@i</option>
                                            }
                                    </select>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-dark">@_localization.GetKey("Select").Value</button>
                                </td>
                            </tr>
                            </form>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>

